{% extends "base.html" %}

{% block content %}
<div class="container mt-5">

<h2>Your Appointments</h2>

<table border="1">
  <tr>
    <th>Patient</th>
    <th>Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for appt in appointments %}
  <tr>
    <td>{{ appt.name }}</td>
    <td>{{ appt.email }}</td>
    <td>{{ appt.date }}</td>

    <td>
      {% if appt.status == "Pending" %}
        <a href="/approve/{{ appt.id }}">Approve</a>
        <a href="/reject/{{ appt.id }}">Reject</a>
      {% else %}
        {{ appt.status }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<a href="/dashboard" class="btn btn-secondary">
Back to Dashboard
</a>

</div>
{% endblock %}